<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENSIAS CHATBOT</title>
    <link rel="stylesheet" href="/static/assets/style.css" class="stylecss">
    <link rel="stylesheet" href="/static/assets/normalize.css">
</head>
<body>
    <nav>
        <img src="/static/assets/imgs/Logo R Cosmetics.png" alt="" class="logo">
        <div class="name">ENSIAS CHATBOT</div>
        <img src="/static/assets/imgs/Ellipse 1.png" alt="" class="shape1">
        <img src="/static/assets//imgs/circum_dark.png" alt="" class="dark" onclick="changemode()">
    </nav>
    <div class="chat_sec">


        
    </div>


    <footer>
        <form action="">
            <input type="text" id="userMsg" placeholder="ask your question here...">
            <button class="send_btn">SEND</button>
            <img src="/static/assets/imgs/Ellipse 2.png" alt="" class="shape2">
        </form>
    </footer>

    <script src="/static/assets/style.js"></script>
    <script src="/static/assets/app.js" type="module"> </script>
</body>
</html>